body {
    margin: 0;
}

.header-signed-out {
    white-space: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin: none;
    min-width: 100%;
    min-height: 65px;
}

.header-logo-signed-in {
    display: inline-block;
    padding: 3px;
    margin: 3px;
    position: relative;
    top: 2px;
    margin-left: 30px;
}

.header-info{
    display: inline-block;
}

.header-info-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
}

.empty-header-space {
    display: inline-block;
    min-width: 70%;
    margin-right: -120px;
}
.header-info-links .invest {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.header-info-links .learn {
    position: relative;
    left: 27.5%;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.header-info-links .support {
    position: relative;
    left: 55%;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.header-login-signup {
    display: inline-block;
    position: relative;
    left: -10px;
}

.login-button {
    border-radius: 150px;
    border: 1px solid black;
    background-color: white;
    color: black;
    min-width: 100px;
    min-height: 42px;
    font-size: 12px;
    font-weight: bold;
    padding: 3px;
    margin: 3px;
    display: relative;
    cursor: pointer;
}

.signup-button {
    border-radius: 150px;
    border: 1px solid black;
    background-color: black;
    color: white;
    min-width: 100px;
    min-height: 42px;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    padding: 3px;
    margin: 3px;
    cursor: pointer;
}