.get-started-container {
    background-color: #004022;
    height: 800px;
    width: 100%;
    white-space: none;
    display: flex;
    padding-right: none;
    margin-right: none;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

@media (max-width: 1100px) {
    .get-started-container {
        flex-wrap: wrap;
        align-items: center;
    }
    #phone-animation {
        display: block;
        position: relative;
        left: 194px;
    }
    .get-started-text {
        max-width: 500px;
        margin-right: 0px;
        margin-left: 0px;
        font-size: 55px;
        margin-left: 210px;

    }
    .get-started-right-container {
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 20px;
        left: -20px;
    }
    .get-started-button {
        display: none;
    }
}

@media (max-width: 1300px) {
    // .get-started-container {
    //     flex-wrap: wrap;
    // }
    #phone-animation {
        max-width: 850px;
        margin-right: -30px;
        margin-left: 30px;
    }
    .get-started-text p {
        font-size: 63px;
        margin-right: none;
    }
    .get-started-right-container {
        margin-left: -80px;
        position: relative;
        left: -20px;
    }
}

.phone-animation-container {
    display: inline-block;
    padding-bottom: -200px;
    margin-left: none;
    position: relative;
    left: -200px;
}

.phone-animation-container img {
    position: relative;
    top: -250px;
    margin-bottom: -400px;
    margin-top: -5px;
    max-width: 950px;
    height: auto;
    width: auto\9;
    left: 50px;
}

#investing-is {
    position: relative;
    left: -5px;
}
.investing-container {
    background: linear-gradient(162deg, rgba(6, 64, 19, 0.7) 0%, rgb(116, 254, 36) 79%, rgb(126, 255, 42) 100%) 100% center / cover, url(https://robinhood-clone-assets.s3.amazonaws.com/noise__d63eaf58eecf93a9e61385dd154fba64.svg) rgb(0, 200, 5);
    height: 800px;
}

.free-stock-ribbon {
    z-index: 50;
    height: 62px;
    background-image: linear-gradient(74.84deg,#00C805 18.12%,#C3F53C 81.46%);
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.sign-up {
    max-height: 800px;
    min-width: auto;
}

.sign-up img {
    flex-shrink: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%
}

.get-started-text {
    z-index: 1;
    display: inline-block;
    min-width: 50%;
    font-size: 65px;
    color: #C3F53C;
    font-family: "Capsule Sans Text", sans-serif;
    position: relative;
    text-align: center;
    top: -5px;
    margin-top: 20px;
    left: -40px;
}

.get-started-button {
    background-color: #C3F53C;
    color: black;
    border-radius: 150px;
    border: 1px solid black;
    min-width: 125px;
    min-height: 47px;
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    padding: 3px;
    margin-top: 3px;
    cursor: pointer;
    position: relative;
    left: -40px;
}

.get-started-right-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hidden-during-form {
    display:block;
}

.hidden-during-form.hidden {
    display: none;
}

.logged-in-body {
    background-color: white;
    min-width: 100%;
    min-height: 1000px;
}

.logged-in-body {
    background-color: black;
}

.logged-in-body h1 {
    color: white;
}